.nav {
  background-color: var(--gray-bar);
  padding: 15px 0;
  border-top: 1px solid #ddd;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

@keyframes navbarAppearance {
  0% {
    transform: translateY(36px);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

.nav__list {
  display: flex;
  justify-content: space-around;
}

.nav__btn--selected {
  will-change: transform;
  animation: navbarAppearance 0.8s ease-out;
}

.nav__link {
  color: #2e363e;
}
